/* Avoid text selection in the grid */
#grid-container * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* ==============
   Time Bar
   ============== */

#time-bar {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	height: 25px;
	font-size: .8em;
	z-index: 9;
	background-color: #333;
	border-top: 1px solid #000;

	-webkit-transition: height ease-in-out .3s;
	   -moz-transition: height ease-in-out .3s;
	     -o-transition: height ease-in-out .3s;
	        transition: height ease-in-out .3s;

	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

#time-bar.expanded {
	height: 65px;
}

#time-bar-list {
	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

#time-bar .shade {
	/* Fake box-shadow. CSS box-shadow can decrease scrolling performance on old iOS and Android browsers. */ 
	background:url('/assets/images/bg-gradient-shadow-bottom.png') repeat-x 0 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -6px;
}

#time-bar-list {
	position: absolute;
	color: #ccc;
	height: 30px;
	bottom: -8px;
	/* Width is set dynamically by the view. It depends on how many hours are shown. */
}

#time-bar-list li {
	width: 200px;
	position: relative;
	display: inline-block;
	height:100%;
	/* width is set dynamically by the view */
	text-align: center;
}

#time-bar-list li span {
	position:relative;
	background:url('/assets/images/spike-down.png') no-repeat 50% 100%;
	display:block;
	left:-50%;
	top: 3px;
	height:24px;
}

#time-controls {
	color: #fff;
	position: absolute;
	overflow: hidden;
	background: #666;
	top: 0;
	bottom: 25px;
	left: 0;
	right: 0;
	opacity: .8;

	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

#time-controls ul { 
	display: inline-block;
	margin: 14px 5px;
}

#time-controls li {
	display: inline;
}

#time-controls input[type="radio"] {
	display: none;
}

#time-controls ul li:first-child input[type="radio"] + label {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#time-controls ul li:last-child input[type="radio"] + label {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#time-controls input[type="radio"] + label {
	font-size: 1em;
	color: #050505;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

#time-controls input[type="radio"]:checked + label {
	color: #fff;
	background: rgb(17,17,17);
	background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(51,51,51,1) 23%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,1)), color-stop(23%,rgba(51,51,51,1)), color-stop(100%,rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(51,51,51,1) 23%,rgba(102,102,102,1) 100%);
}

/* ==============
   Channel Bar
   ============== */

#channels-bar {
	position: fixed;
	top: 70px;
	left: 0;
	bottom:0;
	width: 55px;
	z-index:5;
	background-color: white;
}

#channels-bar .shade {
	/* Fake box-shadow. CSS box-shadow can decrease scrolling performance on old iOS and Android browsers. */ 
	background: transparent url('/assets/images/bg-gradient-shadow-right.png') repeat-y 100% 0;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -6px;
}

#channels-bar-list {
	position: absolute;
	background:#fff;
	width: 55px;
	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

#channels-bar li {
	position: relative;
	margin: 0;
	padding: 0;
	width:100%;
	/* height is set dynamically by JS */
}

#channels-bar .picture {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#channels-bar .picture img {
	margin-top: 15px;
}

/* ==============
   Grid container
   ============== */

#grid-container {
	position: absolute;
	color: #fff;
	/* height and width are set dynamically based by the view */
	overflow: hidden;
}

/* A .channel-container is a container for all events in a channel.
.channel-container elements are full-width, stacked inside the parent #grid-container */
.channel-container {
	position:absolute;
	width:100%;
	border-bottom: 1px solid #aaa;
}

/* A .grid-event represents a single event in the programme grid.
.grid-event elements are absolutely positioned inside a parent .channel-container */ 
.grid-event {
	font-weight: bold;
	color: #000;
	position:absolute;
	overflow: hidden;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	font-size: .9em;
	cursor: pointer;
	/* Use box-sizing:border-box to simplify calculations */;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px;
}

.grid-event:active {
	background: #fff url('/assets/images/bg-gradient-shadow-bottom.png') 0 0 repeat-x;
}

#timer-ticker {
	position: absolute;
	height: 100%;
	width: 4px;
	margin-left: -2px;
	top:0px;
	z-index:1;

	background: yellowGreen;
	
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);

	opacity: .9;

	background:url('/assets/images/bg-timer-ticker.png') repeat-y 0 0;
}