/* Avoid text selection in the grid */
#grid-container * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* ==============
   Layer
   ============== */

.layer {
	position: fixed;

	top: 40px;
	right: 40px;
	bottom: 40px;
	left: 40px;

	padding: 10px;

	background: #fff;

	z-index: 40;

	border-radius: 10px;

	-webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .3);

}

.dimmer {

	position: fixed;

	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background: #fff;

	opacity: .7;
	
	z-index: 19;	
}

.close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background: #999;

	border-radius: 5px;
}

/* ==============
   Time Bar
   ============== */

#time-bar {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	height: 20px;
	font-size: .8em;
	z-index: 9;
	background-color: black;
}

#time-bar .shade {
	/* Fake box-shadow. CSS box-shadow can decrease scrolling performance on old iOS and Android browsers. */ 
	background:url('/assets/images/bg-gradient-shadow-bottom.png') repeat-x 0 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -6px;
}

#time-bar ol {
	background: #000;
	color: #ccc;
	height: 20px;
	width: 4800px;
	position: absolute;
	/* Width is set dynamically by the view. It depends on how many hours are shown. */
}

#time-bar li {
	width: 200px;
	position: relative;
	display: inline-block;
	height:100%;
	/* width is set dynamically by the view */
	text-align: center;
}

#time-bar li span {
	position:relative;
	background:url('/assets/images/spike-down.png') no-repeat 50% 100%;
	display:block;
	left:-50%;
	top: 3px;
	height:24px;
}

/* ==============
   Time moving controls
   ============== */

#time-controls div {
	position: absolute;  /* for devices that not support fixed positioning, this is fixed with js  */
	background: white;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;

}

#time-controls div .icon {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	margin: 10px;
	background: transparent url('/assets/images/sprite.png') -104px 1px no-repeat;
	border-radius: 20px;
	opacity: 1;
}

#time-controls div:hover {
	opacity: .8;
}

.move-top {
	right: 0;
	top: 70px;
}

.move-top, .move-bottom {
	left: 63px;
	height: 50px;
}

.move-right, .move-left {
	width: 50px;
	top: 70px;
	bottom: 0;
}

.move-right, .move-bottom {
	right: 0;
	bottom: 0;
}

.move-left {
	left: 63px;
}

.move-top .icon {
	left: 50%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

.move-right .icon {
	top: 50%;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.move-bottom .icon {
	left: 50%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.move-left .icon {
	top: 50%;
}
/* ==============
   Channel Bar
   ============== */

#channels-bar {
	position: fixed;
	top: 70px;
	left: 0;
	bottom:0;
	width: 63px;
	z-index:5;
	background-color: white;
}

#channels-bar .shade {
	/* Fake box-shadow. CSS box-shadow can decrease scrolling performance on old iOS and Android browsers. */ 
	background: transparent url('/assets/images/bg-gradient-shadow-right.png') repeat-y 100% 0;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -6px;
}

#channels-bar ul {
	position: absolute;
	background:#fff;
	width: 63px;
}

#channels-bar li {
	position: relative;
	margin: 0;
	padding: 0;
	width:100%;
	/* height is set dynamically by JS */
}

#channels-bar .picture {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#channels-bar .picture img {
	margin-top: 15px;
}

/* ==============
   Grid container
   ============== */

#grid-container {
	position: absolute;
	color: #fff;
	/* height and width are set dynamically based by the view */
	overflow: hidden;
}

/* A .channel-container is a container for all events in a channel.
.channel-container elements are full-width, stacked inside the parent #grid-container */
.channel-container {
	position:absolute;
	width:100%;
	border-bottom: 1px solid #aaa;
}

/* A .grid-event represents a single event in the programme grid.
.grid-event elements are absolutely positioned inside a parent .channel-container */ 
.grid-event {
	position:absolute;
	overflow: hidden;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	font-size: .9em;
	cursor: pointer;
}

.grid-event:active {
	background: #fff url('/assets/images/bg-gradient-shadow-bottom.png') 0 0 repeat-x;
}

#grid-container .programme,
#grid-container .programme + p {
	display: block;
	margin: 5px;
	padding: 0;
	color: #666;
}

#grid-container .programme {
	font-weight: bold;
	color: #000;
}

.timer-ticker {
	position: absolute;
	height: 100%;
	width: 4px;
	margin-left: -2px;
	top:0px;
	z-index:1;

	background: yellowGreen;
	
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);

	opacity: .9;

	background:url('/assets/images/bg-timer-ticker.png') repeat-y 0 0;
}