
.channel-event-list {
	padding:0;
	margin:0;
}
	.channel-event-list .programme {
		display:block;
		list-style-type:none;
	}
	.channel-event-list .programme-link {
		display:block;
		padding:5px 0;
		color:inherit;
	}
	.channel-event-list .programme-link:hover,
	.channel-event-list .programme-link:active {
		background-color:#f0f0f0;
	}
	.channel-event-list .time {
		color:#666;
		font-size:12px;
		padding-top:5px;
		float:left;
	}
	.channel-event-list .title {
		margin:0 0 5px 80px;
		font-size:16px;
		font-weight:bold;
	}
	.channel-event-list .desc {
		margin:0 0 0 80px;
		line-height:1.231;
		max-height:2.45em;
		overflow:hidden;
	}
