link(href="/assets/css/font-awesome.css", rel="stylesheet")
link(href="/assets/css/normalize.css", rel="stylesheet")
<<<<<<< HEAD
link(href="/assets/css/global.css", rel="stylesheet")
=======
link(href="/assets/css/global.css", rel="stylesheet")
link(href="/assets/css/grid.css", rel="stylesheet")
link(href="/assets/css/dashboard.css", rel="stylesheet")
>>>>>>> 42bdfc81d550144b33f57241a969a0d47979f628
