script(type="text/template")#favorites-template
	include ../components/favorites

script(type="text/template")#social-template
	include ../components/social

script(type="text/template")#timecontrols-template
	include ../components/timecontrols