.channels-list {
	padding:0;
}
.channels-list-channel {
	width:100%;
	background:#fefefe;
	margin-bottom:1em;
	border-radius:4px;
	overflow:hidden;
	border:1px solid #ccc;
	list-style-type:none;
}

.channels-list-channel__timecontrols {
	display:block;
	text-align:center;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
}

.channels-list-channel__channelcontrols {
	display:block;
	float:left;
	padding:5px 10px;
}

.channels-list-channel__programmes {
	display:block;
	padding:5px;
	margin-left:80px;
}
	.channels-list-channel__programmes ul {
		padding:0;
		margin:0;
	}

	.channels-list-channel__programme {
		display:block;
		margin-bottom:5px;
		list-style-type:none;
	}

		.channels-list-channel__programme-time {
			display:inline;
			color:#666;
			font-size:80%;
			margin-right:10px;
		}
		.channels-list-channel__programme-title {
			display:inline;
			font-size:120%;
			font-weight:bold;
		}
		.channels-list-channel__programme-desc {
			display:block;
			max-height:2.4em;
			overflow:hidden;
		}
