if (topBookingsEvents.length)
	article.event-list-container
		header
			h1
				i.icon-bookmark
				| Top Bookings
		ul.event-list.channel-event-list
			each event in topBookingsEvents
				include on-now-event