form
	ul
		li
			input#allezenders(type="radio", name="channelSelector", value="000")
			label(for="allezenders") Alle Zenders
		li
			input#tvstarter(type="radio", name="channelSelector", value="541")
			label(for="tvstarter") TV Starter
		li
			input#tvroyal(type="radio", name="channelSelector", value="986", checked="checked")
			label(for="tvroyal") TV Royal
		li
			input#onlyhd(type="radio", name="channelSelector", value="987")
			label(for="onlyhd") HD
		li
			input#onlyfavorites(type="radio", name="channelSelector", value="001")
			label(for="onlyfavorites") Favorites
