!!! 5
html
	head(prefix="#{prefix}")
		block head
			title #{title}

			if metadata
				each meta in metadata
					meta(property='#{meta.property}', content='#{meta.content}')

	body
		header
			h1 What's On!
		nav
			ul
				li
					a(href="/channels") All Channels
				li
					a(href="/") Top Bookings

			
		block content