/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/
a { color: #00e; text-decoration: none; }
a:visited { color: #00e; }
a:hover { color: #00e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
*:focus {
/*	outline: none; */
}

/* Allow text selection for input fields */
input[type=search],
input[type=text] {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

body {
	font-family: arial, sans-serif;
	font-size: 14px;
	font-size-adjust: inherit;
	margin: 0; /*50px 0 0 0;*/
	padding: 0;
	background-color: #eee;
}

/*
header, nav {
	display: none;
}*/

ul, ol {
	margin: 0;
	padding: 0;
}

ul li, ol li {
	list-style: none;
}

#top {
	height: 70px;
	display: block;
}

#top-small {
	height: 50px;
	display: block;
}


/* ==============
   buttons
   ============== */

.btn {
	color: #eee;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #000;
	overflow: hidden;
}

/* ==============
   icons
   ============== */

input.icon {
	background: transparent;
	border: none;
}

/* http://xperiments.es/blog/en/free-pulsarjs-fontface-iconfont/ */ 

.main .icon {

	display: block;
	overflow: hidden;

	font-size: 2.2em;

	color: #ccc;

	width: 30px;
	height: 30px;

	cursor: pointer;
}

.main .icon:hover {
	color: #fff;
}

@font-face {
	font-family: pulsarjs;
	src: url('/fonts/pulsarjs/pulsarjs.ttf');
	src: url('/fonts/pulsarjs/pulsarjs.ttf?#iefix') format('embedded-opentype'),
		url('/fonts/pulsarjs/pulsarjs.ttf') format('truetype')/*,
		url('/fonts/pulsarjs/pulsarjs.ttf') format('svg')*/;
}

.icon:before { 
	font-family: pulsarjs;
	margin-right: 5px;
}

.icon-replace {
	text-indent: -9999px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	min-width: 1em;
}

.icon-replace:before {
	position: absolute;
	left: 0;  /* Firefox needs to be explicit here */
	top: 0;
	text-indent: 0;
}

.icon-cloud:before { content: "☁"; }
.icon-edit:before { content: "a"; }
.icon-picture:before { content: "b"; }
.icon-brochure:before { content: "A"; }
.icon-clock:before { content: "B"; }
.icon-camera:before { content: "c"; }
.icon-chat:before { content: "C"; }
.icon-music:before { content: "d"; }
.icon-dialogue:before { content: "D"; }
.icon-signal:before { content: "e"; }
.icon-user:before { content: "E"; }
.icon-file:before { content: "f"; }
.icon-friends:before { content: "F"; }
.icon-group:before { content: "g"; }
.icon-giro:before { content: "G"; }
.icon-folder:before { content: "h"; }
.icon-search:before { content: "H"; }
.icon-key:before { content: "i"; }
.icon-location:before { content: "I"; }
.icon-configuration:before { content: "j"; }
.icon-star:before { content: "J"; }
.icon-piechart:before { content: "k"; }
.icon-heart:before { content: "K"; }
.icon-trash:before { content: "l"; }
.icon-alert:before { content: "L"; }
.icon-target:before { content: "m"; color: red; }
.icon-add:before { content: "M"; }
.icon-list:before { content: "n"; }
.icon-remove:before { content: "N"; }
.icon-downcloud:before { content: "o"; }
.icon-help:before { content: "O"; }
.icon-upcloud:before { content: "p"; }
.icon-info:before { content: "P"; }
.icon-shoppingcart:before { content: "q"; }
.icon-check:before { content: "Q"; }
.icon-call:before { content: "r"; }
.icon-minus:before { content: "R"; }
.icon-mail:before { content: "s"; }
.icon-close:before { content: "S"; }
.icon-tag:before { content: "t"; }
.icon-plus:before { content: "T"; }
.icon-more:before { content: "u"; }
.icon-up:before { content: "U"; }
.icon-book:before { content: "v"; }
.icon-down:before { content: "V"; }
.icon-sound:before { content: "w"; }
.icon-right:before { content: "W"; }
.icon-mute:before { content: "x"; }
.icon-left:before { content: "X"; }
.icon-attach:before { content: "y"; }
.icon-home:before { content: "Y"; }
.icon-camera:before { content: "z"; }
.icon-pencil:before { content: "Z"; }
.icon-note:before { content: "1"; }
.icon-ribbon:before { content: "2"; }
.icon-bookmark:before { content: "3"; }
.icon-lock:before { content: "4"; }
.icon-unlock:before { content: "5"; }
.icon-bell:before { content: "6"; }
.icon-date:before { content: "7"; }
.icon-inbox:before { content: "8"; }
.icon-return:before { content: "9"; }
.icon-forward:before { content: "|"; }
.icon-link:before { content: "#"; }	

.icon-a:before { content: ""; }	


/* ==============
   main
   ============== */

.main {
	position: relative; /* if fixed dosen't work */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 10;

	background: #666 url('/assets/main_gradient.png') 0 0 repeat-x;
}

.main h1 {

	text-indent: -999px;

	margin: 0;
	padding: 5px 0;

	position: absolute;

	top: 5px;
	left: 10px;

	width: 40px;
	height: 40px;

	background: transparent url('/assets/sprite.png') 0 0 no-repeat;
}

/*.main nav {
	position: absolute;
	top: 16px;
	left: 60px;
}

.main nav li {
	display: inline;
	margin-left: 20px;
}*/

#navigation, #user-control, #search {
	position: absolute;
	top: 8px;
	bottom: 8px;
}

/* ==============
   navigation
   ============== */

#navigation .explore {
	display: none;
}

.main .grid {
	position: absolute;
	left: 80px;
}

.main .btn {
	width: 50px;
	height: 40px;
}

/* ==============
   User control
   ============== */

#user-control {
	right: 10px;
}

#user-control .btn {

}

/* ==============
   Search
   ============== */

#search {
	right: 60px;
}

#search .btn {
	display: none;
}

#search .query {
	display: none;
/*
	color: #333;
	text-indent: 5px;
	background: #eee;
	border: 1px solid #000;
	border-radius: 10px;
	width: 100px;
	height: 18px;

	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3) inset;

	-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3) inset;
}

#search .query:focus {
	width: 150px;
	background: #fff;
	border: 1px solid #333;
*/
}

/* ==============
   list
   ============== */

.list {	
	margin: 10px;
	padding: 10px;
	background: #eee;
}

/* ==============
   mosaic
   ============== */

.mosaic {
	padding: 20px 10px;
}

.mosaic .channel {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 50px;
	height: 30px;
	opacity: .8;
}

.mosaic .channel:hover {
	opacity: 1;
	border-bottom-color: #aaa;
	border-right-color: #aaa;
}

.mosaic .channel img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ==============
   topbookings
   ============== */

#topbookings {
	position: relative;
	margin: 0;
	height: 580px;
	margin: -20px;
	margin-top: -40px;
	margin-bottom: 0px;
}

#navigator {
	display: block;
	position: absolute;
	left: 45%;
	bottom: 10px;
}

.disc {
	width: 10px;
	height: 10px;
	background: #ddd;
	border-radius: 10px;
	display: inline-block;
	margin-left: 10px;
	bottom: 20px;
	cursor: pointer;

	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);

	opacity: .9;
}

.disc.selected {
	background: #fff;
	opacity: 1;
}

.show {
	display: block;
	position: relative;
	background: #fff;
	height: 100%;

	-webkit-transition: left .5s ease-in-out;

}

.show .programme {
	display:block;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0;
	padding: 40px;
	background: #fff;
	height: 500px;
}

.show .programme h1 {
	font-size: 2em;
}

.show .programme p {
	color: #eee;
}

.show .programme a,
.show .programme a:hover,
.show .programme a:visited,
.show .programme a:active,
.show .programme p {
	color: #fff;
	text-shadow: 2px 2px 2px #000000;
}


/* ==============
   Generic Views
   ============== */

#content {
	margin: 10px;
	padding: 10px;
} 

#content header {
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
}

#content section {
	padding: 10px;	
}

/* ==============
   Channel View
   ============== */

.channel {

}

.channel header {

}

.channel section {
}

.event-list li:first-child {

}

.event-list {

}

