body {
	margin: 50px 0 0 0;
	padding: 0;
}
/*
header, nav {
	display: none;
}*/

header.main {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #eee;
	z-index: 10;
}

header.main h1 {
	margin: 0;
	padding: 5px;
}

header.main #user-control {
	position: fixed;
	top: 10px;	
	right: 10px;
}

header.main nav {
	position: fixed;
	top: 20px;
	left: 200px;
}

header.main nav li {
	display: inline;
	margin-left: 10px;
}

ul, ol {
	margin: 0;
	padding: 0;
}

ul li, ol li {
	list-style: none;
}

.loader {
	position: fixed;
	width: 16px;
	height: 16px;
	background: transparent url('/assets/loader.gif') no-repeat;
}

#grid-container .loader {
	top: 80px;
	left: 43px;
}

.layer {
	position: absolute;
	width: 400px;

	background: white;

	border-radius: 10px;
}

#time-bar {
	position: fixed;
	top: 50px;
	left: 63px;
	right: 0;
	height: 50px;
	background: gray;
	overflow: hidden;
}

#time-bar ol {
	position: absolute;
	width: 14400px; /* 72hrs * 200px */
}

#time-bar li {
	border-right:1px dashed #000;
	display: inline-block;
	width: 200px;
	height: 50px;
	text-align: center;
}
#time-bar li span {
	background:gray;
	position:relative;
	left:-100px;
	top:1em;
}

#channels-bar {
	position: fixed;
	top: 100px;
	left: 0;
	bottom: 0;
	width: 63px;
	background: gray;
	overflow: hidden;
}

#channels-bar ul {
	position: absolute;
}

#channels-bar li {
	height: 50px;
	margin: 0;
	padding: 5px 10px;
}

#grid-container {
	position: absolute;
	margin-top: 50px;
	margin-left: 63px;
	color: #fff;
}

.back-grid {
	background: aqua url('/assets/channel_row.png') repeat;
	width: 14400px; /* 72hs * 200px */
	height: 6000px; /* 100 channels * 60px */
}

.event {
	overflow: hidden;
	border: 1px solid #666;
	height: 60px;
}