#dashboard-content
	section#featured.no-carousel
		include ../components/featured
	
	section#favorite-programmes
	section#favorite-channels
	section#on-now
		include ../components/on-now

	section#top-bookings
		include ../components/most-recorded