#dashboard-content
	#featured.no-carousel
		include ../components/featured
	
	section#top-lists
		article.favorite-programmes
		article.favorite-channels

	section#dashboard-invitation

	section#on-now
		include ../components/on-now

	section#top-bookings
		include ../components/most-recorded


	script(type="text/template")#dashboard-invitation-template
		article.favorites
			h3
				i.icon-star
				| #{__i('Favourites')}
			p
				a(href="/login") Log in with Facebook 
				to track your favourite programmes and channels here!

	script(type="text/template")#favorite-programmes-template
		h3
			i.icon-star
			| #{__i('Your favourite shows')}
		ul.programmes

	script(type="text/template")#empty-favorite-programmes-template
		h3
			i.icon-star
			| #{__i('Your favourite shows')}
			Save your favourite shows, and we will show you when they are on TV next.

	script(type="text/template")#empty-favorite-channels-template
		h3
			i.icon-star
			| #{__i('Your favourite channels')}
			p Save channels to your favourites, and we will show you what's showing now and next.

