#grid-container

#time-bar
	.shade
	ol
		each time, i in timebar
			li
				span #{i}hs

#channels-bar
	.shade
	ul
		each channel in channels
			li
				.picture
					img(title="#{channel.name}", src="http://www.upc.nl#{channel.logoIMG}", id="channelImg#{channel.id}")