#movies-content
	#featured
		ul.movies
			each movie in topmovies
				li.movie
					p 
						strong #{movie.title} 
						| (#{movie.year})
					.poster
						.score
							i.icon-star
							| #{movie.score}
						img(src="/assets/posters/s/#{movie.poster}")