extends layout

block styles
	link(href="/assets/css/login.css", rel="stylesheet")

block scripts
	script(data-load="controllers/login")

block content
	h1 Login
	p to access all the features

	form
		ul
			li
				label email
				input(type="email")
			li
				label password
				input(type="password")