extends layout

block styles
	link(href="/assets/css/grid.css", rel="stylesheet")
	style(id="grid-styles")

block scripts
	script(data-load="controllers/grid")
		var channels = !{JSON.stringify(channels)};

block content

block templates
	script(type="text/template", data-template="dashboard-layout")
		include dashboard-content
	script(type="text/template", data-template="grid-layout")
		include grid-content