include layout

link(href="/css/search.css", rel="stylesheet")

section#content

	header
		#{__i('Search')}

	section.search-box
		form(action="/search", method="GET")
			input(name="query", type="search", size="10", placeholder="#{__i('Search')}")
