extends layout

block styles
	link(href="/assets/css/nowandnext.css", rel="stylesheet")

block content
	include ../contents/nowandnext

block scripts
	script(src="/js/no-mustard/nowandnext-no-mustard.js")